body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  height: 100dvh;
  padding: 2rem;
  box-sizing: border-box;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

main:has(bbb-empty) {
  align-items: start;
  justify-content: start;
}

@media screen and (max-width: 60em) {
  main {
    width: 100%;
  }
}
